body {
    overflow: hidden;
}
.title-vraag {
    color: white;
}

.tabset--section .funny input {
  font-family: 'Open Sans', sans-serif; }

.login .loginbuttons input, .login .loginbuttons a, .tabset--section #tinderslide .nomore, .tabset--section #tinderslide2 .nomore, .tabset--section #tinderslide2 .vraagtext, .tabset--section .funny #funnyimg #center .canvastextbalon, .tabset--section .Choose .politicus p, .tabset--nav .step {
  font-family: 'Archivo Narrow', sans-serif; }

.tabset--nav, .login .loginbuttons input {
  background-repeat: no-repeat; }

.login .loginbuttons input, .login .loginbuttons a {
  display: block; }

.login {
  display: inline-block; }

.tabset--section #tinderslide .nomore, .tabset--section #tinderslide2 .nomore, .tabset--section .funny #funnyimg #center {
  position: absolute; }

.login .loginbuttons input, .login .loginbuttons a {
  margin: auto; }

.box, .login, .login .head .textbalon, .tabset--section .swiper, .tabset--section .Choose, .tabset--section .ChooseVraag, .tabset--section .funny {
  height: 100%; }

.box, .login, .login .head .textbalon, .login .loginbuttons {
  width: 100%; }

.login .loginbuttons input {
  text-align: right; }

.login .loginbuttons input, .tabset--section #tinderslide2 .vraagtext, .tabset--section .funny input {
  color: white; }

.box, .tabset--nav, .login, .tabset--section .swiper .actions .dislike, .tabset--section .swiper .actions1 .dislike, .tabset--section .swiper .actions .like, .tabset--section .swiper .actions1 .like {
  background-size: cover; }

.tabset--section .funny #funnyimg #center .canvastextbalon, .tabset--section .Choose .politicus img {
  float: left; }

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.swiper .wrap {
  margin-left: 4%;
  padding-top: 3%; }

.box {
  overflow: hidden;
  background-image: url(../img/bg.jpg);
  display: flex;
  flex-flow: column wrap;
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.1); }
  .box .fullvraag {
      background-color: #48889c;
      color: #ffffff;
      position: absolute;
      z-index: 20;
      -webkit-transition: width 1s, height 1s, padding 1s,margin 1s;
      transition: width 0.5s, height 0.5s, visibility 0.5s;
    }
  .box .fullvraag.hidden {
      visibility: hidden;
      display: block !important;
      width: 0vw;
      height: 0vh;
  }
  .hide-text {
      visibility: hidden;
  }
  .box .block {
    background: #48889c;
    color: white; }
  .box .show {
    width: 100vw;
    height: 100vh;
    padding: 10%;
    margin: 0%; }

.tabset--header {
  height: 20%; }
  .tabset--header img {
    margin: auto;
    display: block;
    height: 80%; }
  .tabset--header .replay {
    background-image: url("../img/replay.png");
    height: 23%;
    width: 27%;
    display: block;
    background-size: 85% 85%;
    background-repeat: no-repeat;
    background-position: 5px 4px;
    z-index: 50;
    margin-top: 0%;
    margin-left: 55%; }

.tabset--nav {
  height: 20%;
  background-image: url(../img/navbar1.png);
  position: relative;
  display: flex;
  background-position: 0% 83%;
  background-size: 100% 57%;
  justify-content: space-around;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%; }

.nav--item {
  padding: 1.5em 0 1.4em 0;
  flex-basis: 25%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
  cursor: pointer; }

.active--tab__marker {
  height: 0.2em;
  width: 25%;
  background-color: #333;
  position: absolute;
  bottom: 0;
  transition: 0.24s; }

.nav--item:nth-of-type(1).-is--active ~ .active--tab__marker {
  left: 0; }

.nav--item:nth-of-type(2).-is--active ~ .active--tab__marker {
  left: 25%; }

.nav--item:nth-of-type(3).-is--active ~ .active--tab__marker {
  left: 50%; }

.tabset--content {
  position: relative;
  width: 400%;
  height: 60%;
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  transition: 0.3s; }

[data-active-tab="tab-1"] {
  left: 0; }

[data-active-tab="tab-2"] {
  left: -100%; }

[data-active-tab="tab-3"] {
  left: -200%; }

[data-active-tab="tab-4"] {
  left: -300%; }

.tabset--section {
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 900;
  letter-spacing: 0.5em; }

.login {
  background-image: url(../img/bg.jpg); }
  .login .head {
    height: 44%; }
  .login .animation {
    height: 26%; }
  .login .loginbuttons {
    height: 30%;
    display: inline-block; }
    .login .loginbuttons input {
      width: 77%;
      height: 33%;
      background-size: 20% 66%;
      margin-top: 16%;
      padding-right: 4%;
      font-size: 5.6vw;
      background-color: #356371;
      border-radius: 8px;
      border: none;
      background-image: url(../img/fb.png);
      background-position: center left; }
    .login .loginbuttons a {
      color: #356371;
      width: 42%;
      font-size: 5vw;
      margin-top: 3%; }

.hide {
  display: none; }

.tabset--section .swiper .actions1 a:first-child {
  background-image: url(../img/dislike1.png);
  background-color: rgba(219, 170, 199, 0); }
.tabset--section .swiper .actions1 a:last-child {
  background-image: url(../img/like1.png);
  background-color: rgba(219, 170, 199, 0); }
.tabset--section .swiper .actions, .tabset--section .swiper .actions1 {
  width: 20%;
  position: absolute;
  top: 76%;
  margin-left: 2.5%;
  z-index: 5; }
  .tabset--section .swiper .actions a, .tabset--section .swiper .actions1 a {
    width: 22vw;
    margin: 0px 0vw 0px 11vw;
    height: 22vw; }
  .tabset--section .swiper .actions .dislike, .tabset--section .swiper .actions1 .dislike {
    background-image: url(../img/dislike.png); }
  .tabset--section .swiper .actions .like, .tabset--section .swiper .actions1 .like {
    background-image: url(../img/like.png); }
.tabset--section #tinderslide .nomore, .tabset--section #tinderslide2 .nomore {
  width: 90%;
  margin-left: 5%;
  font-size: 7vw;
  margin-top: 42%; }
.tabset--section #tinderslide2 .vraagtext {
  background-color: #48889c;
  background-repeat: no-repeat;
  background-position: 87% 88%;
  background-size: 42%;
  font-weight: 100;
  letter-spacing: 0.1vw;
  font-size: 5vw;
  padding: 6%;
  margin: 5%;
  height: 53%;
  width: 90%; }
.tabset--section .funny #funnyimg {
  height: 57%; }
  .tabset--section .funny #funnyimg .canvas-overflow {
    overflow: hidden;
    height: 96%; }
    .tabset--section .funny #funnyimg .canvas-overflow .canvaspic {
      width: 80%; }
  .tabset--section .funny #funnyimg #center {
    width: 200vw;
    margin-top: -2vw; }
    .tabset--section .funny #funnyimg #center .invisible {
      opacity: 0; }
    .tabset--section .funny #funnyimg #center .canvastextbalon {
      margin-top: 2vw;
      padding-top: 1vw;
      font-size: 5vw;
      background-image: url("../img/textbalonStep.png");
      width: 70vw;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin: 0px 5vw;
      height: 14vh;
      max-height: 40vh; }
.tabset--section .funny input {
  background-color: rgba(255, 255, 255, 0);
  background-image: url("../img/share-facebook.png");
  background-size: 99% 92%;
  background-repeat: no-repeat;
  width: 80%;
  border: 0px;
  padding: 10%;
  font-size: 5vw;
  padding: 0px;
  height: 12%; }
  .tabset--section .funny input:last-of-type {
    background-image: url("../img/download.png"); }
.tabset--section .Choose {
  overflow: scroll; }
.tabset--section .Choose, .tabset--section .ChooseVraag, .tabset--section .funny {
  width: 80%;
  margin: auto;
  background-color: #356371; }
.tabset--section .Choose .politicus {
  background-color: #d5e8ed;
  overflow: hidden;
  height: 21%;
  width: 80%;
  margin-bottom: 8%;
  margin-left: 10%; }
  .tabset--section .Choose .politicus img {
    width: 40%; }
  .tabset--section .Choose .politicus p {
    color: #356371;
    letter-spacing: 0.1vw;
    padding-top: 12%;
    font-size: 5.5vw;
    font-weight: 100;
    padding: 0px; }
    .tabset--section .Choose .politicus p:first-of-type {
      margin-bottom: 0px; }

.tabset--nav .step {
  position: absolute;
  color: #356371;
  margin-top: -7%;
  font-size: 8vw; }

/*# sourceMappingURL=style.css.map */
