
///// parameters
%floatleft{
  float: left;
}
%floatright{
  float: right;
}
%relative{
  position: relative;
}
%absolute{
  position: absolute;
}
%fullheight{
  height: 100%;
}
%fullwidth{
  width: 100%;
}
%comfortaa{
  font-family: 'Comfortaa', cursive;
}
%narrow{
  font-family: 'Archivo Narrow', sans-serif;
}
////// variables


//// style
////layout
