$third : 25%;

body {
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	// justify-content: center;
	// align-items: center;
	// align-content: center;
}
.swiper{
  .wrap{
    margin-left: 4%;
    padding-top: 3%;
  }
}
.box {
  @extend %fullheight;
  @extend %fullwidth;
  @extend %cover;
	overflow: hidden;
  background-image: url(../img/bg.jpg);

	display: flex;
	flex-flow: column wrap;

	box-shadow: 0px 0px 14px 4px rgba(#000,0.1);
	.fullvraag{
	  background-color: rgba(255, 255, 255, 0);
		color:  rgba(255, 255, 255, 0);
	  position: absolute;
		width: 39vw;
    height: 9vh;
    padding: 7%;
    margin: 97% 45%;
		margin-bottom: 10%;
		z-index: 20;
		-webkit-transition: width 1s, height 1s, padding 1s,margin 1s; /* For Safari 3.1 to 6.0 */
		transition:  width 1s, height 1s, padding 1s,margin 1s;
	}
	.block{
		background: $vraag-background-color;
		color: white;
	}
	.show{
		width: 100vw;
		height: 100vh;
		padding: 10%;
		margin: 0%;
	}
}
.tabset--header{
  height:20%;
      img{
        margin: auto;
        display: block;
        height: 80%;
      }
  }

.tabset--nav {
  @extend %cover;
  @extend %norepeat;
  height: 20%;
  background-image: url(../img/navbar1.png);
	position: relative;
	display: flex;
  background-position: 0% 83%;
  background-size: 100% 57%;
	justify-content: space-around;
	align-items: center;

	flex-flow: row nowrap;

	width: 100%;
}

.nav--item {
	padding: 1.5em 0 1.4em 0;

	flex-basis: $third;

	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.8em;

	cursor: pointer;
}

// the active tab marker
.active--tab__marker {
	height: 0.2em;
	width: $third;
	background-color: #333;
	position: absolute;
	bottom: 0;

	transition: 0.24s;
}

.nav--item:nth-of-type(1).-is--active ~ .active--tab__marker{
	left: 0;
}
.nav--item:nth-of-type(2).-is--active ~ .active--tab__marker{
	left: $third;
}
.nav--item:nth-of-type(3).-is--active ~ .active--tab__marker{
	left: $third * 2;
}

// the tabset and content
.tabset--content {
	position: relative;
	width: 400%;
  height: 60%;

	flex-grow: 1;

	display: flex;
	align-items: stretch;
	justify-content: space-between;

	transition: 0.3s;

}


[data-active-tab="tab-1"] {
	left: 0;
}
[data-active-tab="tab-2"] {
	left: -100%;
}
[data-active-tab="tab-3"] {
	left: -200%;
}
[data-active-tab="tab-4"] {
	left: -300%;
}

.tabset--section {
	width: 100%;
	text-align: center;
	color: white;
	font-weight: 900;
	letter-spacing: 0.5em;

	&:nth-of-type(1) {
		// background-color: springgreen;
	}
	&:nth-of-type(2) {
		// background-color: cornflowerblue;
	}
	&:nth-of-type(3) {
		// background-color: tomato;
	}
}
